@{
    ViewData["Title"] = "项目管理系统";
}
@section styles{
    <link rel="stylesheet" href="~/css/load.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
<!-- 布局框架 -->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <img class="logo" src="" />
            <span class="title"></span>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="collaspe layui-nav-item"><a href="#" class="layui-icon layui-icon-shrink-right"></a></li>
            <li class="refresh layui-nav-item"><a href="#" class="layui-icon layui-icon-refresh-1" loading=600></a></li>
        </ul>
        <div id="control" class="layui-layout-control"></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" style="height:70px;display:inline-flex;">
                <!--天气信息-->
                <div id="tp-weather-widget"></div>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a class="social">
                    <i class="layui-icon layui-icon-dialogue"></i>
                    <span id="headerMessage"></span>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a></li>
            <li class="layui-nav-item layui-hide-xs">
                <a class="notice">
                    <i class="layui-icon layui-icon-notice"></i>
                    <span id="headerNotice"></span>
                </a>
            </li>

            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"><img src="~/images/profile_small.jpg" class="layui-nav-img"> @ViewBag.UserName</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a user-menu-url="" user-menu-id="258632" user-menu-title="个人信息">个人信息</a>
                    </dd>
                    <dd><a user-menu-url="/System/User/EditPwd" user-menu-id="E95D6C73F8433520C2F88C129A96394D" user-menu-title="修改密码">修改密码</a></dd>
                    <dd>
                        <a asp-action="OutLogin" asp-controller="Account">退出登录</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item setting"><a href="#" class="layui-icon layui-icon-more-vertical"></a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-logo">
            <img class="logo" src="" />
            <span class="title"></span>
        </div>
        <div class="layui-side-scroll">
            <div id="sideMenu">
                @Html.Raw(ViewData["menus"])
            </div>
        </div>
    </div>
    <div class="layui-body">
        <div id="content"></div>
    </div>

    <!-- 遮盖层 -->
    <div class="pear-cover"></div>
    <!-- 加载动画-->
    <div class="loader-main">
        <div class="loader"></div>
    </div>
</div>

<!-- 移动端收缩适配 -->
<div class="pear-collasped-pe collaspe">
    <a href="#" class="layui-icon layui-icon-shrink-right"></a>
</div>

@section scripts{
    <script type="text/javascript">
        layui.use(['admin', 'layer', 'hash', 'abp', 'abpsignalrclient', 'abpsignalrchat'], function () {
            var admin = layui.admin;
            var $ = layui.jquery;
            var layer = layui.layer;
            var hash = layui.hash;
            var abp = layui.abp;
            var currMessageIndex = "";
            var config = {
                logo: {
                    title: "项目管理系统",
                    image: "/images/logo.png"
                },
                menu: {
                    control: false,
                    accordion: true,
                    collaspe: false,
                    async: false
                },
                tab: {
                    enable: true,
                    keepState: true,
                    session: false,
                    max: 20,
                    index: {
                        id: '0056',
                        href: '/Home/home',
                        title: "首页"
                    }
                },
                theme: {
                    defaultColor: "2",
                    defaultMenu: "dark-theme",
                    defaultHeader: "light-theme",
                    allowCustom: true,
                    banner: false
                },
                colors: [
                    {
                        id: "1",
                        color: "#2d8cf0",
                        second: "#ecf5ff"
                    },
                    {
                        id: "2",
                        color: "#36b368",
                        second: "#f0f9eb"
                    },
                    {
                        id: "3",
                        color: "#f6ad55",
                        second: "#fdf6ec"
                    },
                    {
                        id: "4",
                        color: "#f56c6c",
                        second: "#fef0f0"
                    },
                    {
                        id: "5",
                        color: "3963bc",
                        second: "#ecf5ff"
                    },
                    {
                        id: "6",
                        color: "#f7cfea",
                        second: "#ecf5ff"
                    }
                ],
                other: {
                    keepLoad: false,
                    autoHead: false
                },
                header: {
                    message: false
                }
            };
            admin.render(config);

            window.selectedWindow = function () {
                return $(".layui-body .layui-tab-content .layui-show")[0].children[0].contentWindow;
            }

            abp.event.on('app.chat.messageReceived', function (message) {
                if (currMessageIndex == "") {
                    messageUnread();
                }
            });

            abp.event.on('abp.notifications.received', function (userNotification) {
                abp.notifications.showUiNotifyForUserNotification(userNotification);
                notificationUnread();
            });

            function notificationUnread() {
                $("#headerNotice").addClass("layui-badge-dot");
            }

            function messageUnread() {
                $("#headerMessage").addClass("layui-badge-dot");
            }
        });
    </script>
}



