@{
    ViewData["Title"] = "项目管理系统";
}

<!-- 布 局 框 架 -->
<div class="layui-layout layui-layout-admin layui-hide layui-load">
    <div class="layui-header header">
        <div class="layui-logo">
            <a href="#">
                <img src="http://easyadmin.99php.cn/static/admin/images/head.jpg" alt="logo" />
                <h1>项目管理系统</h1>
            </a>
        </div>
        <a>
            <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
        </a>
        <ul class="layui-nav layui-layout-left layui-header-menu layui-header-pc-menu mobile layui-hide-xs"></ul>
        <ul class="layui-nav layui-layout-left layui-header-menu mobile layui-hide-sm">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                <dl class="layui-nav-child layui-header-mini-menu"></dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
            </li>
            <li class="layui-nav-item" style="height:70px;display:inline-flex;">
                <!--天气信息-->
                <div id="tp-weather-widget"></div>
            </li>
            <li class="layui-nav-item" style="padding-left:50px;margin-right:-10px;">
                @Html.Raw(ViewBag.Photo)
            </li>
            <li class="layui-nav-item layuimini-setting">
                <a href="javascript:;">
                    @ViewBag.UserName
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-icon="fa fa-gears" id="info">个人信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-iframe-tab="/System/User/EditPwd" data-title="修改密码" data-icon="fa fa-gears">修改密码</a>
                    </dd>
                    <dd>
                        <a class="login-out" asp-action="OutLogin" asp-controller="Account">退出登录</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layuimini-select-bgcolor mobile layui-hide-xs">
                <a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll layui-left-menu">
        </div>
    </div>
    <div class="layui-body">
        <div class="layui-tab" lay-filter="layuiminiTab" id="top_tabs_box">
            <ul class="layui-tab-title" id="top_tabs">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"> <i class="fa fa-dot-circle-o"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-page-close="other"><i class="fa fa-window-close"></i> 关闭其他</a></dd>
                        <dd><a href="javascript:;" data-page-close="all"><i class="fa fa-window-close-o"></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 加 载 动 画 -->
<div class="loader-main">
    <!-- 动 画 对 象 -->
    <div class="loader"></div>
</div>

