<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/libs/pear/css/pear.css" asp-append-version="true" />
    <style id="pearadmin-bg-color"></style>
    <link rel="icon" href="~/images/logo.png">
    @RenderSection("styles", required: false)
</head>
<body class="pear-container">

    @RenderBody()
    <script src="~/js/jquery-1.10.2.min.js" asp-append-version="true"></script>
    <script src="~/libs/layui/layui.js" asp-append-version="true"></script>
    <script src="~/libs/pear/pear.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script>
        var abp;
        layui.use(["abp"], function () {
            abp = layui.abp;
        });
        //提示信息
        function tipSuccess(msg) {
            abp.notify.success(msg);
        }
        function tipError(msg) {
            abp.notify.error(msg);
        }
        function tipInfo(msg) {
            abp.notify.info(msg);
        }
        function tipWarning(msg) {
            abp.notify.warn(msg);
        }
    </script>
</body>
</html>