<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="~/libs/pear/css/pear.css" asp-append-version="true" />
    <link href="~/lib/zTree/css/zTreeStyle/zTreeStyle.css" asp-append-version="true" rel="stylesheet" />
    <style id="pearadmin-bg-color"></style>
    @RenderSection("styles", required: false)
</head>
<body class="pear-container">

    @RenderBody()
    <script src="~/js/jquery-1.10.2.min.js" asp-append-version="true"></script>
    <script src="~/libs/layui/layui.js" asp-append-version="true"></script>
    <script src="~/libs/pear/pear.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="~/lib/zTree/js/jquery.ztree.core.min.js" asp-append-version="true"></script>
    <script src="~/lib/zTree/js/jquery.ztree.excheck.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script>
        //关闭页面
        function CloseWin() {
            parent.location.reload(); // 父页面刷新
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>