
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/layui-v2.5.4/css/layui.css" asp-append-version="true" rel="stylesheet" />
    <script src="~/lib/layui-v2.5.4/layui.js" asp-append-version="true"></script>
    <link rel="icon" href="images/favicon.ico">
    <link href="~/css/dialog.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet" />
    <script src="~/js/global.js" asp-append-version="true"></script>
    <style type="text/css">
        body {
            background-color: #EEF1F6;
        }

        .main {
            width: 98%;
            margin: 0 auto;
        }

        .divQuery {
            width: 100%;
            margin-top: 10px;
            height: 60px;
            background: #fff;
        }

        .layui-form-label {
            line-height: 40px !important;
        }

        .layui-input-inline {
            margin-top: 10px;
        }

        .btn {
            margin-top: 15px !important;
        }

        .divTable {
            width: 100%;
            margin-top: 20px;
            background-color: #fff;
        }

        .content {
            width: 99%;
            margin: 0 auto;
            padding-top: 7px;
        }

        .btn-right {
            float: right;
            line-height: 60px;
            padding-right: 50px;
        }

        .divContent {
            width: 97%;
            margin: 0 auto;
            height: 400px;
            background-color: #fff;
            margin-top: 20px;
        }
    </style>
</head>
<body style="overflow:hidden;">
    @RenderBody()
    <script type="text/javascript">
        layui.config({
            base: '/lib/layui-v2.5.4/lay/app/',
            version: '4546545154'
        });
    </script>
</body>
</html>
