@model YCProduction.Model.Entitys.Base.BasePositionalTitle
@{
    ViewData["Title"] = "AddPositionalTitle";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<form id="formForm" action="" class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">
            职称ID
        </label>
        <div class="layui-input-inline">
            <input type="text" asp-for="Code" class="layui-input" lay-verify="Code" lay-vertype="tips" placeholder=" 职称ID">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            职称
        </label>
        <div class="layui-input-inline">
            <input type="text" asp-for="Name" class="layui-input" lay-verify="Name" lay-vertype="tips" placeholder=" 职称">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            备注
        </label>
        <div class="layui-input-inline">
            <textarea asp-for="Remark" rows="5" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit="" lay-filter="btnSubmit" class="layui-btn layui-btn-normal">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        layui.use(["form", "common"], function () {
            var form = layui.form,
                common = layui.common,
                $ = layui.$;
            //验证
            form.verify({
                Code: function (value) {
                    if (!$.trim(value))
                        return "职称ID必填";
                },
                Name: function (value) {
                    if (!$.trim(value)) {
                        return "职称必填";
                    }
                }
            });
            //提交
            form.on('submit(btnSubmit)', function () {
                var formData = $('#formForm').serialize();
                $.post('/Base/PositionalTitle/AddPositionalTitle', formData, function (res) {
                    if (res.State) {
                        window.parent.tipSuccess(res.Message);
                        setTimeout(CloseWin, 1500);
                    }
                    else {
                        window.parent.tipError(res.Message);
                    }
                });
                return false;
            });
        });
    </script>
}

