
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}


<form id="formForm" action="" class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">
            登录账号
        </label>
        <div class="layui-input-inline">
            <input type="text" name="UserName" class="layui-input" lay-verify="required" lay-vertype="tips" placeholder="登录账号">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            密码
        </label>
        <div class="layui-input-inline">
            <input type="password" name="PassWord" class="layui-input" lay-verify="required" lay-vertype="tips" placeholder="登录密码">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit="" lay-filter="btnSubmit" class="layui-btn layui-btn-normal">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use(["form", "common"], function () {
        var form = layui.form,
            common = layui.common,
            $ = layui.$;
        //提交
        form.on('submit(btnSubmit)', function () {
            var formData = $('#formForm').serialize();
            $.post('/System/User/AddInfo', formData, function (res) {
                console.log(res);
                if (res.State) {
                    window.parent.tipSuccess(res.Message);
                    setTimeout(CloseWin, 1500);
                }
                else {
                    window.parent.tipError(res.Message);
                }
            });
            return false;
        });
    });
</script>


