
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}


<form id="formForm" action="" class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">
            登录账号
        </label>
        <div class="layui-input-inline">
            <input type="text" name="UserName" class="layui-input" lay-verify="required" lay-vertype="tips" placeholder="登录账号">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            密码
        </label>
        <div class="layui-input-inline">
            <input type="password" name="PassWord" class="layui-input" lay-verify="required" lay-vertype="tips" placeholder="登录密码">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit="" lay-filter="btnSubmit" class="pear-btn pear-btn-primary pear-btn-md">保存</button>
            <button type="reset" class="pear-btn pear-btn-md">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>

</form>

@section scripts{
    <script type="text/javascript">
        layui.use(["form"], function () {
            var form = layui.form,
                $ = layui.$;
            //提交
            form.on('submit(btnSubmit)', function () {
                var formData = $('#formForm').serialize();
                $.post('/System/User/AddInfo', formData, function (res) {
                    console.log(res);
                    if (res.State) {
                        window.parent.tipSuccess(res.Message);
                        setTimeout(CloseWin, 1500);

                    }
                    else {
                        //abp.notify.error(res.Message);
                        window.parent.tipError(res.Message);
                    }
                });
                return false;
            });
        });
    </script>
}




