@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<div class="main">
    <!------------------查询-------------------------->
    <fieldset class="table-search-fieldset">
        <legend>搜索信息</legend>
        <div class="divQuery">
            <form class="layui-form" action="" id="formSearch">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="UserName" placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-input-inline btn">
                        <a href="javascript:;" class="layui-btn layui-btn-sm" id="btnQuery" data-type="reload">
                            查询
                        </a>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                    <div class="btn-right">
                        @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
    <!------------------表格-------------------------->
    <div class="divTable">
        <div class="content">
            <table id="defaultTable" lay-filter="UserTable"></table>
        </div>
    </div>

    <script type="text/html" id="test-table-switchTpl">
        <input type="checkbox" name="Status" lay-skin="switch" lay-text="开启|关闭" lay-filter="table-State"
               value="{{d.Id}}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.Status == 0 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="test-table-switchTp2">
        <input type="checkbox" name="IsPwd" lay-skin="switch" lay-text="开启|关闭" lay-filter="table-IsPwd"
               value="{{d.Id}}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.IsIsPwd == 0 ? 'checked' : ''}}>
    </script>

    <!------------------工具栏------------------------->
    <script type="text/html" id="toolBar">
        @Html.ToolBarHtml(ViewData["ActionList"])
    </script>
</div>


<script type="text/javascript">
    layui.use(['form', 'table', 'common'], function () {
        var form = layui.form,
            common = layui.common,
            table = layui.table,
            $ = layui.$;
        //渲染表格
        table.render({
            id: 'defaultReload',
            elem: '#defaultTable',
            height: 'full-150',
            url: '/System/User/GetUserList',
            toolbar: true,
            page: true,
            cols: [[
                { field: 'UserName', title: '用户', sort: true, width: 100 },
                { field: 'Status', title: '用户状态', width: 100,templet: '#test-table-switchTpl', unresize: true },
                { field: 'IsIsPwd', title: '改密', width: 100,  templet: '#test-table-switchTp2', unresize: true },
                { field: 'CreateDate', title: '创建时间', width: 180, sort: true, templet: '<div>{{__subDateTime(d.CreateDate)}}</div>'},
                { field: '', title: '操作', toolbar: '#toolBar', width: 260 }
            ]]
        });
        var active = {
            reload: function () {
                var jsonWhere = urlToJson($("#formSearch").serialize());
                //执行重载
                table.reload('defaultReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: jsonWhere
                });
            }
        };
        //服务器排序
        table.on('sort(UserTable)', function (obj) {
            table.reload('defaultReload', {
                initSort: obj
                , where: { //请求参数
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });
        //监听用户状态操作
        form.on('switch(table-State)', function (obj) {
            var f = obj.elem.checked ? 0 : 1;
            $.post('/System/User/IsState', { Id: this.value, State: f }, function (data) {
                if (data.State) {
                    //common.msgSuccess(data.Message);
                    tipSuccess(data.Message);
                }
                else {
                    tipError(data.Message);
                }
            });
        });
        //监听用户是否改密状态操作
        form.on('switch(table-IsPwd)', function (obj) {
            var f = obj.elem.checked ? 0 : 1;
            $.post('/System/User/IsPwd', { Id: this.value, IsPwd: f }, function (data) {
                if (data.State) {
                    tipSuccess(data.Message);
                }
                else {
                    tipError(data.Message);
                }
            });
        });
        //查询
        $("#btnQuery").on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //添加
        $('#btnAdd').on('click', function () {
            common.openTop({
                title: '添加用户', w: '600px', h: '300px', content: '/System/User/AddUser/'
            });
        });
        //监听工具栏
        table.on('tool(UserTable)', function (obj) {
            var data = obj.data;
            //编辑
            if (obj.event === 'edit') {
                common.openTop({
                    title: '编辑用户', w: '600px', h: '500px', content: '/System/User/EditUser/' + data.Id
                });
            }//删除
            else if (obj.event === 'del') {
                layer.confirm('确定要删除该记录', function (index) {
                    $.post('/System/User/DelInfo', { id: data.Id }, function (data) {
                        if (data.State) {
                            obj.del();//删除这一行
                            tipSuccess(data.Message);
                        }
                        else {
                            tipError(data.Message);
                        }
                        layer.close(index);//关闭弹框
                    });
                });
            }
            //重置密码
            else if (obj.event === 'reset') {
                layer.confirm('确定要操作该用户密码', function (index) {
                    $.post('/System/User/ResetPwd', { id: data.Id }, function (data) {
                        if (data.State) {
                            tipSuccess(data.Message);
                        }
                        else {
                            tipError(data.Message);
                        }
                        layer.close(index);//关闭弹框
                    });
                });
            }//分配角色
            else if (obj.event === 'allotRole') {
                common.openTop({
                    title: '分配角色', w: '400px', h: '250px', content: '/System/User/AllotRole/' + data.Id
                });
            }
        });
    });
</script>

