
@{
    ViewData["Title"] = "AddAction";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<form class="layui-form" action="" method="post" id="formForm">
    <div class="layui-form-item">
        <label class="layui-form-label">按钮名称</label>
        <div class="layui-input-inline">
            <input type="text" name="ActionName" lay-verify="required" class="layui-input" autocomplete="off" lay-vertype="tips" placeholder="按钮名称">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标识</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="ActionCode" autocomplete="off" placeholder="标识">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input type="text" id="Icon" readonly="readonly" name="Icon" class="layui-input" placeholder="图标">
        </div>
        <div style="line-height:40px;float:left;">
            <a id="sltIcon" href="javascript:;" style="color:blue;">选择图片</a><span id="spnIcon"></span><a href="javascript:;" id="clearIcon">清除</a>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">方法</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="Method" autocomplete="off" placeholder="方法">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">样式</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="ClassName" autocomplete="off" placeholder="样式">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序ID</label>
        <div class="layui-input-inline">
            <input type="number" min="0" max="100" maxlength="3" class="layui-input" name="OrderBy" lay-verify="OrderNo" lay-vertype="tips" autocomplete="off">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">显示位置</label>
        <div class="layui-input-inline">
            <select name="Position" lay-verify="Position" lay-vertype="tips">
                <option value="">请选择</option>
                <option value="0">表内</option>
                <option value="1">表外</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <textarea name="Remark" rows="5" cols="50"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button lay-submit="" lay-filter="btnSubmit" class="layui-btn layui-btn-normal">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form', 'common', 'layer'], function () {
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            common = layui.common;
        //选择图标
        $("#sltIcon").on("click", function () {
            openSetIcon();
        });
        //清除图标
        $('#clearIcon').on('click', function () {
            $('#Icon').val("");
            $('#spnIcon').attr("class", "");
        });
        //提交数据
        form.on('submit(btnSubmit)', function () {
            var formData = $('#formForm').serialize();
            $.post('/System/Action/AddAction', formData, function (res) {
                if (res.State) {
                    window.parent.tipSuccess(res.Message);
                    setTimeout(CloseWin, 1500);
                }
                else {
                    window.parent.tipError(res.Message);
                }
            });
            return false;
        });
    });
</script>

