
/*天气预报*/
.tpwthwidt .text_1vUR5ag, .tpwthwidt .title_2I35arv{
   color: green !important;
}
.tpwthwidt .container__sDy_v_{display:none !important;}
#tp-weather-widget{line-height:26px;}
#tp-weather-widget .tpwthwidt{margin-top:12px;}
.tpwthwidt .front_2F0Ii3c{margin-top:12px !important;}
